'''设置'''

# bilibili_api 设置，**必填**
BILI_UID: str = '你的 Bilibili UID'

# bilibili_api 授权设置，选填（隐私设置为不公开则**必填**）
SESSDATA: str = '你的 Bilibili SESSDATA'
BILI_JCT: str = '你的 Bilibili bili_jct'
BUVID3: str = '你的 Bilibili buvid3'

# Bangumi OAuth2 授权设置，**必填**
APP_ID: str = '你的 Bangumi App ID'
APP_SECRET: str = '你的 Bangumi App Secret'

# 解析并更新在看动画的分集收视进度（例如："看到第12话 1:54" -> 自动更新前 11 话）
# 无论隐私设置如何都必须填写 bilibili_api 授权设置才有效
PARSE_EPISODE_PROGRESS: bool = True  # 默认 True

# 跳过更新已经收藏且收藏状态相同的动画的更新状态和收视进度
SKIP_COLLECTED: bool = True  # 默认 True

# 自动打开更新失败的动画的 Bilibili 页面
OPEN_FAILED_BANGUMI_BILI_PAGE: bool = False  # 默认 False

# 每站点最大并发连接数（太多并发连接可能会导致 503）
CONNECTION_LIMIT_PER_HOST: int = 15  # 默认 15

# 打印调试信息，**调试用**
PRINT_DEBUG_INFORMATION: bool = False  # 默认 False

# 不实际更新动画进度和收藏，**调试用**
READ_ONLY: bool = False  # 默认 False
