'''设置'''

# bilibili_api 授权设置，**必填**
BILI_UID: str = '你的 Bilibili UID'
SESSDATA: str = '你的 Bilibili SESSDATA'
BILI_JCT: str = '你的 Bilibili bili_jct'
BUVID3: str = '你的 Bilibili buvid3'

# 自动点在看动画的格子
# 例如："看到第12话 1:54" -> 自动点前 11 话的格子
# 无论隐私设置如何都必须填写 bilibili_api 授权设置才有效
PARSE_EPISODE_PROGRESS: bool = True  # 默认 True

# 跳过更新已更新动画的收藏状态
SKIP_COLLECTED: bool = True  # 默认 True

# 自动打开更新失败的动画的页面（可能会一次性弹出非常多页面）
OPEN_FAILED_BANGUMI_BILI_PAGE: bool = False  # 默认 False

# 每站点最大并发连接数（越多越快，但太多可能会导致服务器不可用）
CONNECTION_LIMIT_PER_HOST: int = 15  # 默认 15

# 打印调试信息，**调试用**
PRINT_DEBUG_INFORMATION: bool = False  # 默认 False

# 只打印信息而不实际进行更新操作，**调试用**
DRY_RUN: bool = False  # 默认 False
